body {
    background-image: url(../images/light-grey-terrazzo.png);
}
header {
    color: palevioletred;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    background-color: lightblue;
    margin-right: 75%;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.container {
    color: hotpink;
    background-color: lightgrey;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 75%;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}