body {
    background-image: url(../images/light-grey-terrazzo.png);
}
header {
    color: palevioletred;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    background-color: lightblue;
    margin-right: 75%;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
#container {
    color: hotpink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgrey;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 70%;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.randomNumber {
    background-color: lightblue;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.winLoss {
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: hotpink;
    margin-left:30%;
    margin-right: 70%;
    margin-top: 20px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.yourScore {
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:midnightblue;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.score {
    background-color: aquamarine;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:midnightblue;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}